.img-size
{

	height: 50px;
    width: 250px;
}


.pull-down{

	  margin-top: 5px;
}


.bg-color{
      background-color:lavenderblush;

}


.bcg-color{
      background-color:lavender;

}

.header-color{

	color: #000099;
	margin-left: 80px;
}

ul{
	list-style-type: square;
 }
